<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ("./partials/head", {title: 'Bienvenidos a ' }) %>
</head>

<body>
  <header>
    <%- include ("./partials/header") %>
  </header>

  <main>
    <div class="main-banner">
      <div class="hero">
        <video loop muted autoplay preload="auto"> <source src="../images/bannerVideo.mp4" type="video/mp4"> </video>
        <div class="banner-overlay">
          <p>Visite nuestra seleccion de Primavera</p>
          <a href="/products"><button type="button" class="btn btn-light">Tienda</button></a>
        </div>
      </div>
      </div>
    <div>
      <section class="vistoEn">
        <div class="vistoEn-img">
          <img src="./images/_H7A8207-bc.jpg" class="img-fluid" style="width: 80%">
        </div>
        <div class="vistoEn-text">
          <h3>PRIMAVERA</h3>
          <p>Corpiño de bikini tipo top entero en forma de triangulo fijo, de lycra texturada estampada premium, con bretel de lenceria regulable. Se abrocha en espalda con un broche de zamac inoxidable que no calientan con la exposición solar. El lazo es removible. Es resistente al cloro y mar.</p>
          <div class="vistoEn-products">
           <div class="vistoEn-product-01">
            <img src="../images/_H7A8333.jpg" class="vistoEn-product-img01" alt="">
            <p><b>Top Primavera</b></p>
            <p>$4900</p>
           </div>
            <div class="vistoEn-product-02">
              <img src="../images/_H7A8071.jpg" class="vistoEn-product-img02" alt="">
              <p><b>Top Primavera</b></p>
              <p>$4900</p>
            </div>
          </div>
        </div>

      </section>
      <section class="oferta">
        <% products.forEach(product=> { %>
            <% if(product.categoryId == 1) {%>
              <div class=" product-oferta col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <a href="/products/detail/<%= product.id %> ">
                  <div class="product-img">
                    <% console.log()%>
                    <img class="img-fluid" src="/images/products/<%= product.image[0].dataValues.name %>" alt="Bikini Gris" class="img-product">
                  </div>
                  <div class="product-description">
                    <div class="product-title">
                      <%= product.name %>
                    </div>
                    <div class="product-price">
                      <p>$ <%= product.price %>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
          <% }}) %>
    </div>
    </section>
    </div>
    <div>
      <section class="temporada">
        <% products.forEach(product=> { %>
          <% if(product.categoryId == 2) {%>
            <div class=" product-oferta col-lg-4 col-md-6 col-sm-6 col-xs-12">
              <a href="/products/detail/<%= product.id %> ">
                <div class="product-img">
                  <% console.log()%>
                  <img class="img-fluid" src="/images/products/<%= product.image[0].dataValues.name %>" alt="Bikini Gris" class="img-product">
                </div>
                <div class="product-description">
                  <div class="product-title">
                    <%= product.name %>
                  </div>
                  <div class="product-price">
                    <p>$ <%= product.price %>
                    </p>
                  </div>
                </div>
              </a>
            </div>
        <% }}) %>
    </div>
    </section>
    </div>
  </main>

  <footer>
    <%- include ("./partials/footer") %>
  </footer>

</body>

</html>