<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ("./partials/head", {title: "Detalle de " + product.name+ " " }) %>
</head>

<body>
  <header>
    <%- include ("./partials/header") %>
  </header>
  <main>
    <div>
      <section>
        <div class="product-detail">

          <div class="product-description-full-content">
            <div class="product-title-detail">
              <%= product.name %>
            </div>
            <div class="product-description-detail">
              <%= product.description %>
            </div>
            <div class="product-price-detail">
              <p>$ <%= product.price %>
              </p>
            </div>
            <div class="product-discount-detail">
              <p>Descuento <%= product.discount %>%
              </p>
            </div>
            <label for="size">Talle:</label>
            <select name="size">
              <option value="" selected>Elegir talle</option>
              <% for( let i=0; i < (talles.length); i++ ) {%>
                <option value="<%= (talles[i].id) %>">
                    <%=talles[i].name %>
                </option>
                <% } %>

            </select>
            <a href="#"><input class="buy-button" type="button" value="Agregar al Carrito"></a>
            

          </div>
          <div class="product-img-detail">

            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <% if(product.image[0]){%>
                  
                  <%  for (let i = 0; i < product.image.length; i++) { %>
                    
                    <div class="carousel-item active">
                      <img src="/images/products/<%= product.image[i].dataValues.name %>" class="d-block w-100" alt="Bikini">
                    </div>
                    <% } %>
                    <% }else { %>
                      <div class="carousel-item active">
                        <img class="img-fluid" src="/images/users/avatarDefault.png " alt="Bikini Gris" class="img-product">
                      </div>
                      <% } %>

                  </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>

            <div class="div-BottonEditAndDelete">
              <div>
                <a href="/products/edit/<%= product.id %>"><input type="submit" class="editar-product" value="EDITAR">
                </a>
              </div>

              <form action="/products/delete/<%= product.id %>" method="POST">
                <input type="submit" class="delete-product" value="ELIMINAR"></input>
              </form>
            </div>
          </div>

        </div>
    </div>
    </section>
    </div>


  </main>

  <footer>
    <%- include ("./partials/footer") %>
  </footer>

</body>

</html>