<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ("./partials/head", {title: 'Edicion del producto ' }) %>
</head>

<body>

  <header>
    <%- include ("./partials/header") %>
  </header>

  <main class="mainEdit">

    <div>
      <h3>Editar producto</h3>
    </div>
    <br>
    <form class="form-register formview"  action="/products/edit/<%=product.id%> " method="POST" enctype="multipart/form-data">
      <div>
        <label for="name">Nombre: </label>
        <input type="text" id="name" name="name" value="<%=product.name%>" class="form-input <%= locals.errors && errors.name ? " is-invalid" : "" %> name">
        <span></span>
        <% if(locals.errors && errors.name) { %>
            <div class="text-danger">
                <%= errors.name.msg %>
            </div>
            <% } %>
      </div>
      <br>
      <div>
        <label for="price">Precio: </label>
        <input type="text" id="price" name="price" value="<%=product.price%>" class="form-input <%= locals.errors && errors.price ? " is-invalid" : "" %> price">
        <span></span>
        <% if(locals.errors && errors.price) { %>
            <div class="text-danger">
                <%= errors.price.msg %>
            </div>
            <% } %>
      </div>
      <br>
      <div>
        <label for="discount">Descuento: </label>
        <input type="text" id="discount" name="discount" value="<%=product.discount%>" class="form-input <%= locals.errors && errors.discount ? " is-invalid" : "" %> discount">
        <span></span>
        <% if(locals.errors && errors.discount) { %>
            <div class="text-danger">
                <%= errors.discount.msg %>
            </div>
            <% } %>
      </div>
      <br>
      <div>
        <label for="size">Talle:</label>
        <select name="sizes" id="size" class="form-input <%= locals.errors && errors.sizes ? " is-invalid" : "" %> sizes" multiple>
          <option value="" selected>Elegir talle</option>
          <% for( let i=0; i < sizes.length; i++ ) {%>
            <option value="<%= sizes[i].id %>">
                <%=sizes[i].name %>
            </option>
            <% } %>
          </select>
          <span></span>
                <% if(locals.errors && errors.sizes) { %>
                    <div class="text-danger">
                        <%= errors.sizes.msg %>
                    </div>
                    <% } %>
      </div>
      <br>
      <div>
        <label for="description" class="form-label">Descripción: </label>
        <textarea name="description" id="description" class="form-input <%= locals.errors && errors.description ? " is-invalid" : "" %>
          description"><%=product.description%></textarea>
              <span></span>
                    <% if(locals.errors && errors.description) { %>
                        <div class="text-danger">
                            <%= errors.description.msg %>
                        </div>
                        <% } %>
      </div>
      <br>
      <div>
        <button type="submit" class="edit-button">Editar producto</button>
      </div>
    </form>
    <script src="/js/js-frontProduct.js"></script>
  </main>

  <footer>
    <%- include ("./partials/footer") %>
  </footer>

</body>


</html>