<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ("./partials/head", {title: 'Login a ' }) %>
</head>

<body>
    <header class="main-header">
        <%- include ("./partials/header") %>
    </header>

    <main class="main-login">
        <div class="row">
            <div class="col-lg-4">
              <div class="card mb-4">
                <div class="card-body text-center">
                    <p class="text-muted mb-1">En esta pagina vas a poder ver toda tu informacion, editarla y tambien eliminar tu registro</p>
                  <img src="/images/users/<%=user.imageUser%> " alt="avatar"
                    class="rounded-circle img-fluid" style="width: 150px;">
                  <h5 class="my-3"><%= user.fullName %></h5>
                   <div class="d-flex justify-content-center mb-2">
                    <a href="/users/edit/<%=user.id%>"><button class="btn btn-success" type="button">Editar</button></a>
                    <a href="/users/logout"><button class="btn btn-danger" type="button">Logout</button></a>
                  </div>
                  <div>
                    <form action="/users/delete/<%=user.id%>" method="POST">
                        <button type="submit" class="btn btn-outline-danger">Eliminar usuario</button>
                    </form>
                </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="card mb-4">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Nombre completo</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%= user.fullName %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Email</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=user.email %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Telefono</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=user.phoneNumber %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Direccion</p>
                    </div>
                    <div class="col-sm-9">
                      <p class="text-muted mb-0"><%=user.address %></p>
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <p class="mb-0">Provincia</p>
                    </div>
                    <div class="col-sm-9">
                        <% for( let i=0; i < provinces.length; i++ ) {%>
                            <% if (provinces[i].id == user.provinceId) { %>
                      <p class="text-muted mb-0"><%=provinces[i].name %></p>
                      <% } %>
                      <% } %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
        
            <div class="btn-userPage">
                
                
                
            </div>

    </main>
    <footer>
        <%- include ("./partials/footer") %>
    </footer>

</body>

</html>