<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ("./partials/head", {title: 'Login a ' }) %>
</head>

<body>
    <header class="main-header">
        <%- include ("./partials/header") %>
    </header>

    <main class="main-login">
        <div class="form-login">
            <form action="/users/login" method="POST">
                <h4>Login</h4>
                <input class="input-login <%= locals.errors && errors.user_name ? "is-invalid" : ""%> "
                type="text" 
                name="user_name" 
                id="Nombre de usuari@"
                    placeholder="Nombre de usuari@"
                    value="<%= locals.oldData ? oldData.full_name : null %>" > 
                    <% if(locals.errors && errors.user_name) { %>
                        <div class="text-danger">
                            <%= errors.user_name.msg  %> 
                        </div>
                   <% } %>

                <input class="input-login <%= locals.errors && errors.password ? "is-invalid" : ""%> "
                type="password" 
                name="password" 
                id="Contraseña" 
                placeholder="Contraseña" >
                    <% if(locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg  %> 
                        </div>
                   <% } %>

                <label class="check-recordadUsuario"><input type="checkbox"> Recordar Usuari@ y contraseña</label>
                <br>
                <button class="button-login" type="submit">Enviar</button>
                <a class= "recuperarContraseña" href="*">Recuperar contraseña</a>
            </form>
        </div>

        <div class="register-from-login">
            <h4>Crear una cuenta</h4>
            <p class="text-register">Creando una cuenta con BySedna vas a poder comprar en nuestra tienda, gestionar tus
                pedidos y mucho mas.</p>
            <br>
            <a href="/users/register"><button class="button-register" type="submit">Crear cuenta</button></a>
        </div>

    </main>

    <footer>
        <%- include ("./partials/footer") %>
    </footer>
    
</body>

</html>