<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ("./partials/head", {title: 'Detalle del producto' }) %>
</head>

<body>
  <header>
    <%- include ("./partials/header") %>
  </header>
  <main>
    <div>
      <section>
        <div class="product-detail">

          <div class="product-description-full-content">
            <div class="product-title-detail">
              <%= product.name %>
            </div>
            <div class="product-description-detail">
              <%= product.description %>
            </div>
            <div class="product-price-detail">
              <p>$ <%= product.price %>
              </p>
            </div>
            <div class="product-discount-detail">
              <p>Descuento <%= product.discount %>%
              </p>
            </div>
            <label for="talle">Talle:</label>
            <select name="talle">
              <option value="talleS">S</option>
              <option value="talleM" selected>M</option>
              <option value="talleL">L</option>
              <option value="talleXL">XL</option>
              <a href="#"><input class="buy-button" type="button" value="COMPRAR"></a>

              <a href="/products/edit/<%= product.id %>" class="editar-product">EDITAR PRODUCTO</a>
						<form action="/products/<%= product.id %>?_method=DELETE" method="POST">
							<button type="submit" class="delete-product">ELIMINAR</button>
						</form>
            </select>
          </div>
          <div class="product-img-detail">
            <img class="img-fluid" src="/images/products/<%= product.img %> " alt="Bikini Gris" class="img-product">
          </div>
        </div>
    </div>
    </section>
    </div>


  </main>

  <footer>
    <%- include ("./partials/footer") %>
  </footer>

</body>

</html>