<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ("./partials/head", {title: 'Edicion del producto ' + product.name + " " }) %>
</head>

<body>

  <header>
    <%- include ("./partials/header") %>
  </header>

  <main class="mainEdit">

    <div>
      <h3>Estas por editar: <%=product.name%></h3>
    </div>
    <br>
    <form action="/products/<%=product.id%>" method="POST">
      <div>
        <label for="name">Nombre: </label>
        <input type="text" id="name" name="name" value="<%=product.name%>" class="form-input">
      </div>
      <br>
      <div>
        <label for="price">Precio: </label>
        <input type="text" id="price" name="price" value="<%=product.price%>" class="form-input">
      </div>
      <br>
      <div>
        <label for="discount">Descuento: </label>
        <input type="text" id="discount" name="discount" value="<%=product.discount%>" class="form-input">
      </div>
      <br>
      <div>
        <label for="size">Talle:</label>
        <select name="size" id="size" class="form-input">
          <option value="sizeS">S</option>
          <option value="sizeM" selected>M</option>
          <option value="sizeL">L</option>
          <option value="sizeXL">XL</option>
          </select>
      </div>
      <br>
      <div>
        <label for="description" class="form-label">Descripción: </label>
						<textarea name="description" id="description" class="form-input"> <%=product.description%> </textarea>
      </div>
      <br>
      <div>
        <button type="submit" class="edit-button">Editar producto</button>
      </div>
    </form>

  </main>

  <footer>
    <%- include ("./partials/footer") %>
  </footer>

</body>


</html>