<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ("./partials/head", {title: "Detalle de " + product.name+ " " }) %>
</head>

<body>
  <header>
    <%- include ("./partials/header") %>
  </header>
  <main>
    <div>
      <section>
        <div class="product-detail">

          <div class="product-description-full-content">
            <div class="product-title-detail">
              <%= product.name %>
            </div>
            <div class="product-description-detail">
              <%= product.description %>
            </div>
            <div class="product-price-detail">
              <p>$ <%= product.price %>
              </p>
            </div>
            <div class="product-discount-detail">
              <p>Descuento <%= product.discount %>%
              </p>
            </div>
            <label for="size">Talle:</label>
            <select name="size">
              <option value="sizeS">S</option>
              <option value="sizeM" selected>M</option>
              <option value="sizeL">L</option>
              <option value="sizeXL">XL</option>
            </select>
            <a href="#"><input class="buy-button" type="button" value="Agregar al Carrito"></a>
            
          </div>
          <div class="product-img-detail">
            <img class="img-fluid" src="/images/products/<%= product.image %> " alt="Bikini Gris" class="img-product">
            <div class="div-BottonEditAndDelete">
              <div>
                <a href="/products/edit/<%= product.id %>"><input type="submit" class="editar-product" value="EDITAR">
                </a>
              </div>

              <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                <input type="submit" class="delete-product" value="ELIMINAR"></input>
              </form>
            </div>
          </div>

        </div>
    </div>
    </section>
    </div>


  </main>

  <footer>
    <%- include ("./partials/footer") %>
  </footer>

</body>

</html>