<!DOCTYPE html>
<html lang="es">

<head>
  <%- include ("./partials/head", {title: 'Detalle del producto'}) %>
</head>

<body>
  <header>
    <%- include ("./partials/header") %>
  </header>
<main>
    <div>
        <section >
                <div class=" product-oferta col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="product-img">
                        <img class="img-fluid" src="/images/products/<%= product.img %> " alt="Bikini Gris"
                            class="img-product">
                    </div>
                    <div class="product-description">
                        <div class="product-title">
                            <%= product.name %>
                        </div>
                        <div class="product-price">
                            <p>$ <%= product.price %>
                            </p>
                        </div>
                    </div>
                </div>
    </div>
    </section>
    </div>
descripcion
precio
talle
nombre
imagen
Boton de agregar al carrito

</main>

<footer>
    <%- include ("./partials/footer") %>
  </footer>

</body>

</html>