<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ("./partials/head", {title: 'Registro a ' }) %>
</head>

<body>
    <header class="main-header">
        <%- include ("./partials/header") %>
    </header>

    <main class="main-register">
        <h4>Crear cuenta</h4>

        <form class="form-register" action="/users/register" method="POST" enctype="multipart/form-data">
            <div>
                <input class="input-register <%= locals.errors && errors.fullName ? " is-invalid" : "" %> fullName"
                type="text" name="fullName" id="Nombre y apellido" placeholder="Nombre y apellido"
                value="<%= locals.oldData ? oldData.fullName : null %>" >
                    <span></span>
                    <% if(locals.errors && errors.fullName) { %>
                        <div class="text-danger">
                            <%= errors.fullName.msg %>
                        </div>
                        <% } %>
            </div>
            <div>
                <input class="input-register <%= locals.errors && errors.address ? " is-invalid" : "" %> address"
                type="text" name="address" id="Domicilio" placeholder="Domicilio"
                value="<%= locals.oldData ? oldData.address : null %>">
                <span></span>
                    <% if(locals.errors && errors.address) { %>
                        <div class="text-danger">
                            <%= errors.address.msg %>
                        </div>
                        <% } %>
            </div>
            <div>
                <select name="province" id= "Provincia" class="input-register <%= locals.errors && errors.province ? " is-invalid" : ""
                    %> province">
                    <option value="" selected>Elegir Provincia</option>
                    <% for( let i=0; i < provinces.length; i++ ) {%>
                        <option value="<%= provinces[i].id %>">
                            <%=provinces[i].name %>
                        </option>
                        <% } %>
                </select>
                <span></span>
                <% if(locals.errors && errors.province) { %>
                    <div class="text-danger">
                        <%= errors.province.msg %>
                    </div>
                    <% } %>
            </div>
            <div>
                <label for="imageUser">Imagen de perfil</label>
                <div>
                    <input class="image-register <%= locals.errors && errors.imageUser ? " is-invalid" : "" %>
                    imageUser" type="file" id= "Imagen de perfil" name="imageUser">
                    <span></span>
                    <% if(locals.errors && errors.imageUser) { %>
                        <div class="text-danger">
                            <%= errors.imageUser.msg %>
                        </div>
                        <% } %>
                </div>
            </div>
            <div>
                <input class="input-register <%= locals.errors && errors.phoneNumber ? " is-invalid" : "" %>
                phoneNumber"
                type="number" name="phoneNumber" id="Telefono" placeholder="Telefono"
                value="<%= locals.oldData ? oldData.phoneNumber : null %>">
                <span></span>
                    <% if(locals.errors && errors.phoneNumber) { %>
                        <div class="text-danger">
                            <%= errors.phoneNumber.msg %>
                        </div>
                        <% } %>
            </div>
            <div>
                <input class="input-register <%= locals.errors && errors.email ? " is-invalid" : "" %> email"
                type="text" name="email" id="Email" placeholder="Email"
                value="<%= locals.oldData ? oldData.email : null %>">
                <span></span>
                    <% if(locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg %>
                        </div>
                        <% } %>
            </div>
            <div>
                <input class="input-register <%= locals.errors && errors.password ? " is-invalid" : "" %> password"
                type="password" name="password" id="Contraseña" placeholder="Contraseña">
                <span></span>
                <% if(locals.errors && errors.password) { %>
                    <div class="text-danger">
                        <%= errors.password.msg %>
                    </div>
                    <% } %>
            </div>
            <div class="buttons">
                <button class="button-register" type="reset">Borrar</button>
                <button class="button-register" type="submit">Enviar</button>
            </div>
        </form>
        <script src="/js/js-front.js"></script>
    </main>

    <footer>
        <%- include ("./partials/footer") %>
    </footer>

</body>

</html>