<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ("./partials/head", {title: 'Registro a ' }) %>
</head>

<body>
    <header class="main-header">
        <%- include ("./partials/header") %>
    </header>

    <main class="main-register">
        <h4>Crear cuenta</h4>
 
        <form class="form-register" action="/users/register" method="POST" enctype="multipart/form-data">
            <div>
                <input class="input-register <%= locals.errors && errors.full_name ? "is-invalid" : ""%> "
                    type="text" 
                    name="full_name" 
                    id="Nombre y apellido"
                    placeholder="Nombre y apellido" 
                    value="<%= locals.oldData ? oldData.full_name : null %>" >
                    <% if(locals.errors && errors.full_name) { %>
                        <div class="text-danger">
                            <%= errors.full_name.msg  %> 
                        </div>
                   <% } %>
            </div>
            <div>
                <input class="input-register <%= locals.errors && errors.address ? "is-invalid" : ""%> " 
                type="text" 
                name="address" 
                id="Domicilio" 
                placeholder="Domicilio"
                value="<%= locals.oldData ? oldData.address : null %>">
                <% if(locals.errors && errors.address) { %>
                    <div class="text-danger">
                        <%= errors.address.msg  %> 
                    </div>
               <% } %>
            </div>
            <div>
                <select name="province" 
                class="input-register <%= locals.errors && errors.province ? "is-invalid" : ""%> " >
                    <option value="">Elegi una Provincia</option>
                    <% let provincia = [
                    "Buenos Aires","Córdoba","Santa Fe","Ciudad Autónoma de Buenos Aires","Mendoza","Tucumán","Entre Ríos","Salta",
                    "Misiones","Chaco", "Corrientes", "Santiago del Estero","San Juan","Jujuy","Río Negro", "Neuquén","Formosa",
                   "Chubut","San Luis","Catamarca","La Rioja","La Pampa","Santa Cruz","Tierra del Fuego, Antártida e Islas del Atlántico Sur",
                    ] %> 
                    <% for (const oneProvince of provincia){ %>
                        <option value ="<%= oneProvince %>"
                            <%= locals.oldData && (oneProvince === oldData.province) ? "selected" : null %>
                            > <%= oneProvince %> </option>
                   <% } %>   
             </select>
             <% if(locals.errors && errors.province) { %>
                        <div class="text-danger">
                            <%= errors.province.msg  %> 
                        </div>
                   <% } %>
            </div>
            <div>
                <input class="input-register <%= locals.errors && errors.phone_number ? "is-invalid" : ""%> "
                type="tel" 
                name="phone_number" 
                id="telefono" 
                placeholder="Telefono" 
                value="<%= locals.oldData ? oldData.phone_number : null %>">
                <% if(locals.errors && errors.phone_number) { %>
                        <div class="text-danger">
                            <%= errors.phone_number.msg  %> 
                        </div>
                   <% } %>
            </div>
            <div>
                <input class="input-register <%= locals.errors && errors.email ? "is-invalid" : ""%> " 
                type="text" 
                name="email" 
                id="email" 
                placeholder="Email" 
                value="<%= locals.oldData ? oldData.email : null %>">
                <% if(locals.errors && errors.email) { %>
                        <div class="text-danger">
                            <%= errors.email.msg  %> 
                        </div>
                   <% } %>
            </div>
            <div>
                <input class="input-register <%= locals.errors && errors.password ? "is-invalid" : ""%> " 
                type="password" 
                name="password" 
                id="Contrasena" 
                placeholder="Contraseña">
                <% if(locals.errors && errors.password) { %>
                        <div class="text-danger">
                            <%= errors.password.msg  %> 
                        </div>
                   <% } %>
            </div>
            <div class="buttons">
                <button class="button-register" type="reset">Borrar</button>
                <button class="button-register" type="submit">Enviar</button>
            </div>
        </form>
    </main>

    <footer>
        <%- include ("./partials/footer") %>
    </footer>
    
</body>

</html>