<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ("./partials/head", {title: 'Registro a ' }) %>
</head>

<body>
    <header class="main-header">
        <%- include ("./partials/header") %>
    </header>

    <main class="main-register">
        <h4>Crear cuenta</h4>
        <form class="form-register" action="/users/register" method="POST" enctype="multipart/form-data">
            <div>
                <input class="input-register" type="text" name="full_name" id="Nombre y apellido"
                    placeholder="Nombre y apellido" >
            </div>
            <br>
            <div>
                <input class="input-register" type="text" name="user_name" id="Nombre de usuari@"
                    placeholder="Nombre de usuari@" >
            </div>
            <br>
            <div>
                <input class="input-register" type="text" name="address" id="Domicilio" placeholder="Domicilio">
            </div>
            <br>
            <div>
                <select name="province" class="input-register" >
                    <option value="">Elegi una Provincia</option>
                    <% let provincia = [
                    "Buenos Aires","Córdoba","Santa Fe","Ciudad Autónoma de Buenos Aires","Mendoza","Tucumán","Entre Ríos","Salta",
                    "Misiones","Chaco", "Corrientes", "Santiago del Estero","San Juan","Jujuy","Río Negro", "Neuquén","Formosa",
                   "Chubut","San Luis","Catamarca","La Rioja","La Pampa","Santa Cruz","Tierra del Fuego, Antártida e Islas del Atlántico Sur",
                    ] %> 
                    <% for (const oneProvince of provincia){ %>
                        <option value ="<%= oneProvince %>"> <%= oneProvince %> </option>
                   <% } %>   
             </select>
            </div>
            <br>
            <div>
                <input class="input-register" type="tel" name="phone_number" id="telefono" placeholder="Telefono" >
            </div>
            <br>
            <div>
                <input class="input-register" type="email" name="email" id="email" placeholder="Email" >
            </div>
            <br>
            <div>
                <input class="input-register" type="password" name="password" id="Contrasena" placeholder="Contrasena"
                    >
                <br>
            </div>
            <br>
            <div>
                <input class="input-register" type="password" name="confirm_password" id="Confirmar Contrasena"
                    placeholder="Confirmar Contraseña" >
                <br>
            </div>
            <br>
            <div class="buttons">
                <button class="button-register" type="reset">Borrar</button>
                <button class="button-register" type="submit">Enviar</button>
            </div>
        </form>
    </main>

    <footer>
        <%- include ("./partials/footer") %>
    </footer>
    
</body>

</html>