<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ("./partials/head", {title: 'Login a ' }) %>
</head>

<body>
    <header class="main-header">
        <%- include ("./partials/header") %>
    </header>
    
    <main class="main-login">
        <div class="form-login">
                <h3>Hola <%= user.full_name  %>  estas es tu pagina de usuario.<h3>
        </div>

        <div class="register-from-login">
            <h5>Tu email es: <%=user.email  %> </h5>
            <br>
            <a href="/users/logout"><button class="btn btn-danger" type="button" >Logout</button></a>
        </div>

    </main>
    <footer>
        <%- include ("./partials/footer") %>
    </footer>
    
</body>

</html>