<!DOCTYPE html>
<html lang="es">

<head>
    <%- include ("./partials/head", {title: 'Login a ' }) %>
</head>

<body>
    <header class="main-header">
        <%- include ("./partials/header") %>
    </header>

    <main>
<br>
<br>
<br>
<br>
<h3>Hola <%= User.full_name  %>  estas es tu pagina de usuario </h3>

<h5>Tu email es: <%=User.email  %> </h5>


    </main>

    <footer>
        <%- include ("./partials/footer") %>
    </footer>
    
</body>

</html>